---
layout: default
title: Katalog
permalink: /katalog/
controller: KatalogController
---
<section id="kata" class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="headline">
                    <h1 class="section-title">Katalog</h1>

                    <p class="section-description">An ever expanding list of code katas.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row" ng-repeat="kata in katalog">
                    <div class="col-lg-1 col-md-1">
                        <div class="services-list">
                            <i class="fa fa-keyboard-o fa-5x"></i>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-11">

                        <a ng-if="kata.href" href="{(kata.href)}"><h4><i class="fa fa-external-link"></i> {( kata.name )}</h4></a>
                        <h4 ng-if="!kata.href"> {( kata.name )}</h4></a>

                        <p>{( kata.summary )}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Scroll To Top  -->
<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<!-- End Scroll To Top  -->
